{% extends 'base_layout.html' %}

{% block title %}Полная информация о продукте{% endblock %}

{% block content %}
    <div class="p-5 ">
        <h1>{{ product.title }}</h1>
        <p class="lead"><i><b>Категория: </b></i>{{ product.category.title }}</p>
        <p class="lead"><i><b>Описание: </b></i>{{ product.description }}</p>
        <p class="lead"><i><b>Цена: </b></i>{{ product.price }}</p>
        <p class="lead"><i><b>Дата создания: </b></i>{{ product.created_at|date:"d m Y" }}</p>
        <p class="lead"><i><b>Дата обновления: </b></i>{{ product.updated_at|date:"d m Y" }}</p>
        <img class="img-thumbnail w-50" src="{{ product.image.url }}">
    </div>
{% endblock %}