{% extends 'base_layout.html' %}

{% block title %}Список категорий{% endblock %}

{% block content %}
<div class="row text-center">
    {% for category in object_list %}
    <div class="col-4">
        <div class="card mb-4 shadow bg-body-tertiary rounded">
            <div class="card-body">
                <h4 class="card-title">{{ category.title }}</h4>
                <!--                <h1 class="card-title pricing-card-title">{{ category.price }}</h1>-->
                <div class="text-start">
                    <!--                    <p class="card-text"><i><b>Категория: </b></i>{{ category.category.title }}</p>-->
                    <p class="card-text bg-green"><i>{{ category.description|truncatechars:100 }}</i></p>
                </div>
                <div class="btn-group">
                    <a href="{% url 'catalog:category_detail' category.id %}"
                       class="btn btn-primary mt-3">Просмотреть</a>
                    <a href="{% url 'catalog:category_edit' category.id %}"
                       class="btn btn-success mt-3">Изменить</a>
                    <a href="{% url 'catalog:category_delete' category.id %}"
                       class="btn btn-danger mt-3">Удалить</a>
                </div>
                <div class="btn-group">
                    <a href="{% url 'catalog:category_products' category.id %}"
                       class="btn btn-warning mt-3">Продукты в категории</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
